   
	*{
		margin: 0px ; 
		border: 0px ; 
		padding: 0px ; 
	}
	body
	{
		background: #F0F0F0 ; 
		background-image: url(../image/akl.jpg) ;
		font: 14px/20px Arial, san-serif ;
		color: #555 ; 
		margin:0px;
	}
	h1 {
		text-align: center;
		font-size: 180% ; 
		line-height: 120% ; 
		padding: 5% 0;
	}
	h2
	{
		text-decoration: underline;
		line-height: 280%; 
		padding-left: 2%;
	}
	h3
	{
		line-height: 110px;
		padding: 5% 0 ;
	}
	p{
		padding: 1px ; 
	}
	img
	{
		text-align: center ; 
		max-width: 100% ; 
		height: auto;
		width: auto;
	}
	a
	{
		color: #FFF ; 
		text-decoration: none;
		font-weight: bold;
	}
	a:hover 
	{
		color: #FFF ; 
		text-decoration: underline;
	}
header
	{
		background: #5A5656; 
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
        opacity: 0.90;
        background-image: url('../image/dark.png');
	}
	header h1 
	{
		font-weight: bold;
		font-family: Edwardian script ITC;
		font-size: 80px;
		color: #FFF ; 
		margin-left: 26px; 
		padding: 15px; 
		padding-top: 0px;
		float: left;
	}

	nav
	{
		float: right;
		padding: 10px 20px 20px 0px ;
		font-size: 18px;
        margin: 20px ; 

	}

	a:hover#menu-icon {
       border-radius: 4px 4px 0 0; 
	}
	ul
	{
		list-style: none ; 
	}
	nav ul li 
	{
		display: inline-block;
		float: left;
		padding: 10px ; 
	}
	.current {
		color:#FFF;
		text-decoration: underline;
	}
	.clearfix
{
	clear: both;
    margin-top: 100px;
    
}


figure 
	{
		background-color:burlywood; 
		padding: 0px ; 
		margin-top: 100px ; 
		border: 1px solid #ccc ; 
		width: 305px ; 
		text-align: center;
		float: left;
		margin: 70px;
        opacity: 0.7;
        filter: alpha(opacity=70);
	}

	figure img 
	{
		border: block;
		width: 300px;
		height: 200px ;
	}
figure  a 
{
	color: #000000;
} 
    footer 
    {
    	background-image: url("../image/dark.png");
    	width: 100%;
    	overflow: hidden;
    	opacity: 0.90
    }
    footer section  
    {
    	width: 29%;
    	float: left;
    	margin: 2% 2% ; 
    	text-align: center;
    }
    footer p, footer h2
    {
    	color: #FFF ; 
    }
    footer p, footer h3
    {
    	color: #FFF;
    }
    footer p a 
    {
    	color: #FFF; 
    	text-decoration: none;
    }
    ul.social li 
    {
    	display: inline;
    }
    ul.social li img 
    {
    	height: 50px;
    }
    footer.second 
    {
    	border-top: 1px solid #4D4E50 ; 
    	background-color: #333333 ; 
    	max-height: 50px ; 
    	text-align: center ; 
    	opacity: 0.95 ;
    }
     footer .holly{
     	width: 300px;
     	height: 300px;
        color: #FFF ; 
        font-size: 100px ; 
        font-family: Edwardian script ITC ; 
    }
    /* Start Scroll*/
#scroll-top
{
  background: #000 ;
  color: #FFF ;
  position: fixed;
  right: 10px ;
  bottom: 20px ;
  z-index: 9999 ;
  cursor: pointer;
  padding: 10px ;
  padding-bottom: 13px ;
  border-radius: 50px ;
  display: none ;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9999;
  border: double;
  outline:  1px solid black;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
 .slide1
   {
     max-width:1000px;
     position: relative;
     margin-top: 100px;
     border:1px none;
     height: 450px;
       padding: 200px;
       padding-left: 450px;
       width: 450px;
   }

#myBtn:hover {
  background-color: gray;
}

#scroll-up{
    width: 50px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    position: fixed;
    right: 30px;
    bottom: 50px;
    z-index: 9999;
    background-color: #777;
    cursor: pointer;
    display: none;
    
    
}
#scroll-up:hover{
    background-color: #444;
}
